.recommended{
  padding: 132px 0;

  &__title{
    color: var(--Black, #141414);
    font-size: 48px;
    font-weight: 700;
  }
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__row{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;

    margin-top: 72px;
  }
  &__select{
    min-width: 95px;
  }
  &__item{
    position: relative;
    width: calc(25% - 20px);
    
    &-img{
      width: 100%;
      object-fit: cover;

      border-radius: 14px;

      height: 280px;
    }
    &-title{
      color: var(--White, #FFF);
      font-size: 20px;
      font-weight: 700;

      position: absolute;
      bottom: 18px;
      left: 16px;
      z-index: 2;

    }
    &-bottom{
      position: absolute;
      bottom: 4px;
      left: 0;

      z-index: 1;

      width: 100%;
      height: 50px;

      border-radius: 0 0 14px 14px;

      background: #A0A0A0;
      mix-blend-mode: multiply;
    }
  }
  &__skeleton{
    max-width: 384px;
    height: 300px;
    width: calc(25% - 20px);

    border-radius: 20px;
    &-box{
      display: flex;
      gap: 25px;

    }
    &-card{
      border-radius: 20px !important;
    }
  }
}