.description{
  position: relative;
    &__content{
      display: flex;
      flex-direction: column;
      padding: 3.5rem 0 4.6rem;

      &-location{
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
      }
    }

  &__top{
    position: relative;
    &-content{
      display: flex;
      align-items: center;
      column-gap: 10px;

      position: absolute;
      top: 7.3rem;
      left: 7.3rem;

      z-index: 10;
      cursor: pointer;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 1));

      &-text{
        color: var(--White, #FFF);
        font-size: 1.1rem;
        font-weight: 500;
        &-mobile{
          display: none;
          color: var(--White, #FFF);
          font-size: 1.1rem;
          font-weight: 500;
        }
      }

      &-btn{
        position: relative;
        width: 2.8rem;

        border: 1px solid #FFFFFF;
        stroke: var(--Gray, #888);
        &::before{
          content: "";
          position: absolute;

          width: 10px;
          top: -4px;
          left: -2px;
          border: 1px solid #FFFFFF;

          transform: rotate(-40deg);
        }

        &::after{
          content: "";
          position: absolute;

          width: 10px;
          top: 3px;
          left: -2px;
          border: 1px solid #FFFFFF;

          transform: rotate(40deg);
        }
      }
    }
  }

  &__icon{
    font-size: 1.3rem;
  }
  &__title{
    color: #000;
    font-size: 4rem;
    font-weight: 900;

    margin-bottom: 1rem;
  }
  &__country{
    color: var(--Black, #141414);
    font-weight: 500;
  }
  &__subtitle{
    color: var(--Black, #141414);
    font-size: 1.3rem;
    font-weight: 700;

    margin: 2.8rem 0 1rem;
  }
  &__text{
    color: var(--Black, #141414);
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 142.3%;
  }

  &__reviews{
    display: flex;
    column-gap: 0.6rem;
    align-items: center;

    margin-bottom: 1rem;
    &-content{
      display: flex;
      flex-direction: column;
      row-gap: 1.2rem;
    }
    &-subtitle{
      color: var(--Black, #141414);
      font-size: 1.4rem;
      font-weight: 700;

      margin: 2.8rem 0 0.5rem;
    }
    &-avatar{
      width: 24px;
      height: 24px;
      border-radius: 24px;
    }

    &-btn{
      max-width:9.4rem;

      padding: 0.7rem 1rem;

      display: flex;
      justify-content: center;
      align-items: center;

      column-gap: 0.4rem;

      border-radius: 10px;
      border: none;
      outline: none;

      background: transparent;


      color: #6A62B7;
      font-weight: 600;

      cursor: pointer;
    }
    &-icon{
      font-size: 20px;
      color: #6A62B7;
    }
  }
  &__btn{
    color: var(--White, #FFF);
    font-size: 1.4rem;
    font-weight: 500;

    border: none;
    outline: none;
    padding: 1rem 0;

    border-radius: 100px;
    background: var(--Primary, #6A62B7);
    margin-top: 8.1rem;

    cursor: pointer;
    &:hover{
      background: var(--Inactive, #B4B0DA);
    }
  }
  &__img{
    width: 100%;
    max-height: 34.3rem;
    object-fit: cover;
  }

  &__bottom{
    border-radius: 48px 48px 0 0;
    background: #FFFFFF;

    position: absolute;
    top: 33.1rem;
    left: 0;
    width: 100%;

    z-index: 9;
  }

  &__skeleton{



    &-box{
      display: flex;
      flex-direction: column;
      row-gap: 20px !important;
    }

    &-bottom{
      height: 100vh;
      margin-top: -4rem;
      border-radius: 48px 48px 0 0 ;
      background: #FFFFFF;
      position: relative;

      padding: 3.5rem 7rem 4.6rem;

      z-index: 10;

      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }
  }
}
