

@media  screen and (max-width: 1240px ) {
  .trips{
    padding: 9rem 1rem;

    &__title{
      font-size: 5rem;
      line-height: 6rem;
    }
    &__right{
      width: auto;
    }
    &__left{
      width: auto;
    }
    &__content{
      align-items: center;
    }
  }
  .recommended{
    padding: 8.2rem 1rem;
    &__row{
      justify-content: center;
    }
  }
  .discover{
      padding: 0 1rem;
    &__row{
      justify-content: center;
    }
  }

  .description{
      &__content{
        padding: 3.5rem 1rem 4.6rem;
      }
  }

}

@media screen and (max-width: 1040px ) {
    .recommended{
      &__item-img{
        height: 16rem;
      }
    }
  .discover{
    &__item-img{
      height: 17rem;
    }

  }
  .trips{
    padding: 11rem 1rem;
    &__title{
      font-size: 4rem;
      line-height: 5rem;
    }
    &__info{
      font-size: 1.2rem;
    }
  }
  .description{
    &__bottom{
      top: 28rem;
    }
    &__top{
      &-content{
        top: 5rem;
        left: 5rem;
      }
    }
  }
  .swiper-pagination-images{
    top: 480px !important;
  }
}

@media  (max-width: 876px ) {
  .trips{
    &__title{
      font-size: 3.5rem;
    }
    &__info{
      font-size: 1.1rem;
    }
  }
  .description{
    &__bottom{
      top: 24rem;
    }
    &__title{
      font-size: 3.5rem;
    }
  }

  .image-gallery-right-nav{
    top: 40% !important;
  }
  .image-gallery-left-nav{
    top: 40% !important;
  }
  .swiper-pagination-images{
    top: 410px !important;
  }
}


@media  (max-width: 700px ) {
  .description{
    &__title{
      font-size: 3rem;
    }
    &__text{
      font-size: 1rem;
    }
    &__top{
      &-content{
        top: 3rem;
        left: 3rem;
      }
    }
  }
  .swiper-slide-nav{
    margin: 0 2rem 0 10px;
  }
  .recommended{
    &__item{
      min-width: auto;
      width: calc(50% - 12px);
      &-img{
        height: 14rem;
      }
      &-bottom{
        height: 70px;
      }
    }
  }

  .trips{
    padding: 0 0 5rem;
    border-radius: 0 0 ;

    &__left-bottom{
      border-radius: 25px;
      background: var(--Primary, #6A62B7);
      padding: 17px 30px;
      max-width: 210px;
      margin-left: 0;
      &:hover{
        background: #B4B0DA;;
      }
    }
    &__text{
      font-size: 1.2rem;
    }
    &__content{
      padding: 0 1rem;
    }
    &__img{
      display: none;
      &-mobile{
        display: block;
      }
    }

  }


}

@media  (max-width: 530px ) {

  .popup{
    padding: 1.5rem 1.2rem 1.2rem;

    border-radius: 28px;
    transform: translate(-50%, -35.2%);

    &__title{
      font-size: 2rem;
    }
    &__info{
      font-size: 0.9rem;
      margin: 1rem 0 1.5rem;
    }
    &__icon-close{
      font-size: 2rem;
    }

    &__input{
      font-size: 1rem;
    }
    &__btn{
      font-size: 1.2rem;
    }
    &__status{
      &-text{
        font-size: 1.3rem;

        margin-bottom: 1.5rem;
      }
      &-btn{
        font-size: 1.3rem;
        padding: 0.5rem;
      }
    }
  }
  .trips{
    &__content{
      display: block;
    }
    &__title{
      margin-top: 0.7rem;
      font-size: 2.5rem;
      line-height: 3rem;
    }
    &__info{
      font-size: 1rem;
    }
    &__text{
      font-size: 1rem;
    }
    &__left-bottom{
      max-width: 190px;
    }
  }
  .discover{
    &__title{
      font-size: 2rem;
    }
    .swiper-pagination-bullets{
      display: block;
    }
    &__btns{
      display: none;
      &-left{
        padding: 1.3rem 0.6rem;
      }
      &-right{
        padding: 1.3rem 0.6rem;
      }
    }
    &__item{
      min-width: auto;

      &-title{
        font-size: 1.2rem;
      }
      &-img{
        height: 15rem;
      }
      &-bottom{
        height: 3rem;
      }
    }
    &__nav-item{
      font-size: 1.2rem;
    }
  }
  .recommended{
    padding: 2.4rem 1rem;
    &__title{
      font-size: 2rem;
    }
    &__top{
      margin-bottom: 1.3rem;
    }
  }
  .sliderSwiperNav{
    margin: 1.3rem 1rem;
  }

  .swiper__pagination{
    display: flex !important;
  }
}


@media  (max-width: 400px ) {
  .swiper-slide-nav{
    margin: 0 1.2rem 0 10px;
  }
  .description{
    &__content{
      padding: 2.2rem 1rem 4rem;
    }
    &__bottom{
      top: 17rem;
    }
    &__title{
      font-size: 2rem;
    }
    &__subtitle{
      font-size: 1.1rem;
    }
    &__text{
      font-size: 0.8rem;
    }
    &__country{
      font-size: 0.8rem;
    }
    &__reviews{

      &-btn{
        max-width: 9rem;
        justify-content: start;
      }
      &-comment{
        font-size: 0.9rem;
      }
    }
    &__btn{
      font-size: 1.1rem;
      margin-top: 3rem;
    }
    &__top-content{
      column-gap: 25px;
      top: 2rem;
      left: 1rem;
      &-btn{
        width: 1px;
      }

      &-text{
        display: none;
        &-mobile{
          display: block;
        }
      }
    }
  }
  .recommended{
    &__item{
      width: 100%;
    }
    &__top{
      display: block;
    }
    &__title{
      margin-bottom: 1.5rem;
    }
  }
  .image-gallery-svg{
    display: none;
  }

  .swiper__img{
    min-height: 20rem;
  }
  .swiper-pagination-images{
    top: 287px !important;
  }
}

