.overlay{
  position: fixed;

  background: rgba(37, 37, 37, 0.35);

  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;

  z-index: 100;
}

.popup{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 48px;
  background: #FFF;

  width: 100%;
  max-width: 38.3rem;

  padding: 2.5rem;

  &__info{
    color: var(--Black, #141414);
    font-size: 1.1rem;
    font-weight: 400;

    margin: 1.2rem 0 2rem;
  }
  &__title{
    color: var(--Black, #141414);
    font-size: 3rem;
    font-weight: 700;
  }

  &__text{
    color: var(--Gray, #888);
    font-weight: 400;
  }

  &__label{
    display: flex;
    flex-direction: column;
    row-gap: 0.6rem;

    width: 100%;

    margin-bottom: 1.4rem;
  }
  &__input{
    width: 100%;
    padding: 0.9rem 1.2rem;

    border-radius: 100px;
    border: 1px solid var(--Input-gray, #636363);

    color: var(--Gray, #888);
    font-size: 1.1rem;
    font-weight: 400;

    outline: none;
  }
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__bottom{
    display: flex;
    flex-direction: column;
    row-gap: 0.6rem;

    &-block{
      display: flex;
      align-items: center;
      column-gap: 1.2rem;

      margin-bottom: 3rem;
      &-count{
        display: flex;
        align-items: center;

        column-gap: 1rem;
      }
      &-people{
        display: flex;
        column-gap: 0.8rem;
        align-items: center;
      }
    }
    &-count{
      color: var(--Black, #141414);
      font-size: 1.2rem;
      font-weight: 700;
    }
    &-text{
      color: var(--Black, #141414);
      font-weight: 500;
    }
  }
  &__icon{
    &-plus{
      font-size: 1.3rem;
      color: #FFFFFF;

      min-width: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;

      padding: 0.4rem 0.7rem;
      border-radius: 16px;
      background: #897CFF;

      cursor: pointer;
    }
    &-minus{
      font-size: 2rem;
      color: #FFFFFF;

      min-width: 2.5rem;
      max-height: 2.4rem;

      display: flex;
      justify-content: center;
      align-items: center;

      padding: 0.3rem 0.7rem 0.6rem;
      border-radius: 16px;
      background: #897CFF;

      cursor: pointer;
    }
    &-close{
      font-size: 40px;

      cursor: pointer;
    }
    &-user{
      margin-top: 3px;
      font-size: 1.1rem;
    }
  }

  &__btn{
    padding: 0.9rem 0;
    width: 100%;

    color: #FFF;
    font-size: 1.4rem;
    font-weight: 500;

    border-radius: 28px;

    background: var(--Primary, #6A62B7);
    border: none;
    outline: none;

    cursor: pointer;
    &:disabled{
      background: var(--Inactive, #B4B0DA);
    }
  }

  &__error{
    color: red;
    margin: 0.3rem 0 0 1.1rem;
  }

  &__status{
    &-text{
      color: var(--Black, #141414);
      text-align: center;
      font-size: 2.2rem;
      font-weight: 700;

      margin-bottom: 2rem;
    }
    &-btn{
      color: #FFF;
      font-size: 1.4rem;
      font-weight: 500;

      cursor: pointer;

      border: none;
      outline: none;
      border-radius: 100px;
      background: var(--Primary, #6A62B7);

      padding: 0.8rem 0;

      width: 100%;
    }
  }

}


.PhoneInputInput{
  border: none;
  outline: none;

  color: var(--Gray, #888);
  font-size: 18px;
  font-weight: 400;
}
.PhoneInput{
  column-gap: 5px;
}












