.swiper-button-prev:after {

  position: absolute;
  left: 80%;
  top: -50%;


  padding: 20px 18px;
  font-size: 20px;

  color: #ffffff;
  backdrop-filter: blur(13px);
  transition: .2s;
  background: hsla(258,4%,55%,.32);

  border-radius: 10px
}

.swiper-button-prev:hover::after {

  backdrop-filter: blur(13px);
  background: hsla(258,4%,55%,.32);

  transition: .2s;
  border-radius: 10px;

  transform: scale(110%)
}



.swiper-button-next:after {
  position: absolute;
  right: 100%;
  top: -50%;

  color:#ffffff;
  padding: 20px 18px;

  font-size: 20px;

  backdrop-filter: blur(13px);
  transition: .2s;
  background: hsla(258,4%,55%,.32);
  border-radius: 10px
}

.swiper-button-next:hover::after {
  backdrop-filter: blur(13px);
  background: hsla(258,4%,55%,.32);
  transform: scale(110%);
  transition: .2s;
  border-radius: 10px
}

.swiper-button-next{
  display: block !important;
}
.swiper-button-prev{
  display: block !important;
}

.swiper-slide{
  display: flex !important;
  column-gap: 24px;
  position: relative;
}

.swiper-slide-nav{
  width: auto !important;
  margin: 0 4rem 0 10px;
}




.sliderSwiperNav {
  margin: 2.1rem 0 5rem 0.6rem;
}

.swiper-pagination-bullets{
    display: flex;
}


.swiper__pagination {
  text-align: center;
  margin-top: 15px;
  display: none !important;
  justify-content: center;
  align-items: center;

  &-bullets{
    display: flex;

    column-gap: 10px;
  }
}

.swiper-pagination-bullet{
  background: #897CFF !important;
  &-active{
    width: 23px !important;
    border-radius: 3px !important;
    background: #897CFF !important;
  }
}

.swiper__img{
  width: 100%;
  min-height: 27rem;
  max-height: 34.3rem;
  object-fit: cover;
}


.swiper-pagination-images{
  text-align: center;
  display: flex;
  justify-content: center;


  position: absolute !important;
  top: 77vh !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  z-index: 1000;
}





